<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Project</title>
    <style>
        body{
            background-color: rgb(161, 100, 100);
            color: black;
        }
    </style>
</head>
<body>
    <form action="/user" method="POST">
        Name: <input type="text" name="name" placeholder="Enter Your Name:">
        <br>
        <br>
        Email: <input type="email" name="email" placeholder="Enter Your Email:">
        <br>
        <br>
        Password <input type="password" name="password" placeholder="Enter Your Password:">
        <br>
        <br>
        Phone <input type="number" name="phone" placeholder="Enter your phone number:">
        <br>
        <br>
        Age: <input type="number" name="age" placeholder="Enter Your Age:">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>